<link rel="stylesheet" href="/stylesheets/personalPage.css">
<body>
    <div id="background">
       <img class="wrap" src="/images/homepage.jpg">
        </img>
       <!--  <img class="wrap" src="/images/wrap.png">
        </img>  -->  
    </div>
    <div>
            <%- include header %>
                
    </div>
    <div id="welcome">
            Posted Article
    </div>
    

     <div id="article">
        <div class="form" style="width:auto">
            <% posts.forEach(function(post){ %>
                <h3> <%= post.title %> </h3>
                <a class="formtitle" href="/adminEditArticle/<%= post.time.day%>/<%= post.title %>/<%= post.loc %>/<%= post.partyDate %>">Edit</a></span>
                <a class="formtitle" href="/adminRemoveArticle/<%= post.time.day%>/<%= post.title %>/<%= post.loc %>/<%= post.partyDate %>">Delete</a>
                <br>
            <% }) %>
        </div>
   
    </div> 
</body>


