<%- include header %>

<link rel="stylesheet" href="/stylesheets/article.css">

<h1>article page</h1>

<% if(user.name == articleowner){ %>
<p>
    <span><a class="edit" href="/edit/<%= post.name %>/<%= post.time.day%>/<%= post.title %>/<%= post.loc %>/<%= post.partyDate %>">Edit</a></span>
    <span><a class="edit" href="/remove/<%= post.name %>/<%= post.time.day%>/<%= post.title %>/<%= post.loc %>/<%= post.partyDate %>">Delete</a></span>
</p>
<% } %>
<p class="article">
    <div id="articleItem">
        <img id="articleimg" src="<%= post.pic.path.substring(6)%>" />
        Author: <a href="/u/<%= post.name %>"><%= post.name %></a>   
        Date: <%= post.time.minute %>
        Location: <%= post.loc %>
    </div>


<script type="text/javascript">
    $(function(){
    	$('#attend').click(function(e){
    		e.preventDefault();
    		console.log("touch attend!!");

    		$.ajax({
    			type: 'POST',
    			contentType: 'application/json',
    			url: "/attend/<%= post.name %>/<%= post.time.day%>/<%= post.title %>/<%= post.loc %>/<%= post.partyDate %>/<%= user.name %>",
    			success: function(data){
    				console.log('ajax success');
    				//console.log(JSON.stringify(data));
    				alert(data);
    			}
    		});
    	});
    });
</script>



<div id="attend"><p>Attend</p></div>

<ul>
    <% attenders.forEach(function(attender){ %>
        <a href='/u/<%= attender %>'><%= attender %></a>
    <% }) %>
<ul>

    <a href="/attend/<%= post.name %>/<%= post.time.day%>/<%= post.title %>/<%= post.loc %>/<%= post.partyDate %>/<%= user.name %>">Attend</a>
</p>
<p><%- post.post%></p>
<%- include comment %>
<%- include footer %>