<!--  <%- include header %>  -->

<link rel="stylesheet" href="/stylesheets/article.css">
<script src="/javascripts/article.js"></script>


<!--
<% if(user.name == articleowner){ %>
<p>
    <span><a class="edit" href="/edit/<%= post.name %>/<%= post.time.day%>/<%= post.title %>/<%= post.loc %>/<%= post.partyDate %>">Edit</a></span>
    <span><a class="edit" href="/remove/<%= post.name %>/<%= post.time.day%>/<%= post.title %>/<%= post.loc %>/<%= post.partyDate %>">Delete</a></span>
</p>
<% } %>

-->

<div id="articleContent">
    <p>
        <img id="articleImg" src="<%= post.pic.path.substring(6)%>" />
        <div id="articleDes"> 
            <div id="articleTitle"><%= post.title %></div>   
            Host: <a href="/u/<%= post.name %>"><%= post.name %></a>   
            Date: <%= post.partyDate.getFullYear() + "-" + (post.partyDate.getMonth()+1) + "-" + post.partyDate.getDate() %>
            <div id="articleLoc">Location: <%= post.loc %></div>
            <div id="articlePost"><%= post.post %></div>
        </div>


    <div id="articleAttend">
        <p>People Attended: </p>
        <ul>
            <% attenders.forEach(function(attender){ %>
                <a href='/u/<%= attender %>'><%= attender %></a>
            <% }) %>
        </ul>
    </div>

        <a href="/attend/<%= post.name %>/<%= post.time.day%>/<%= post.title %>/<%= post.loc %>/<%= post.partyDate %>/<%= user.name %>">Attend</a>
    </p>

    <div id="articleComment">
        <%- include comment %>
    </div>
</div>

<%- include footer %>