<p><%= pageUser %>'s Personal page!</p>

<% posts.forEach(function(post){ %>

    <% if(currentUser == pageUser){ %>
        <p>
            <span><a class="edit" href="/edit/<%= post.name %>/<%= post.time.day%>/<%= post.title %>/<%= post.loc %>/<%= post.partyDate %>">Edit</a></span>
            <span><a class="edit" href="/remove/<%= post.name %>/<%= post.time.day%>/<%= post.title %>/<%= post.loc %>/<%= post.partyDate %>">Delete</a></span>
        </p>
    <% } %>
    <% if(currentUser != pageUser){ %>
        <a href="/addFriend/<%= currentUser %>/<%= pageUser %> ">Add Friend!</a><br/>

    <% } %>  
<p class="info">
     
    Date: <%= post.time.minute %>
    Location: <%= post.loc %>
    Picture:  <img src="<%= post.pic.path.substring(6)%>" />
</p>
<p><%- post.post%></p>
<% }) %>


<p><%= pageUser %>'s Friends Lists</p>
<% friends.forEach(function(friend){ %>
    <a href="/u/<%= friend %> "><%= friend %></a><br/>
<% }) %>