<%- include header %>

<link rel="stylesheet" href="/stylesheets/searchPage.css">
<div>
	<div class="icon-menu">
		Menu
	</div>
	
    <div id="map"></div>

			
<script>                          //place google map and markers
    var posts = <%- posts %>;



    var searchlatlng = <%- searchlatlng %>;
    var slatlng = searchlatlng.substring(1, searchlatlng.length-1);
    var searchArr = slatlng.split(", ");

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 14,
      center: new google.maps.LatLng(searchArr[0], searchArr[1]),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < posts.length; i++) { 
        var latlng = posts[i].latlng.substring(1, posts[i].latlng.length-1);
        var arr = latlng.split(", ");
        var url = encodeURI('/u/' + posts[i].name + '/' + posts[i].time.day + '/' + posts[i].title + '/' + posts[i].loc + '/' + posts[i].partyDate);
 
        marker = new google.maps.Marker({
            position: new google.maps.LatLng(arr[0], arr[1]),
            map: map
        });

        google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
                infowindow.setContent("<a href='"+url+"'>"+posts[i].title+'</a><br/><p>'+posts[i].loc+'</p><br/><p>'+posts[i].partyDate+'</p><br/>'
            );

            infowindow.open(map, marker);
            }
        })(marker, i));
    }  
</script>

    <div class="article">
        <% lists.forEach(function(post){ %>
       <!--  <p>/u<%= posts.name %>/<%= post.time.day %>/<%= post.title %>/<%= post.loc %>/<% posts.partyDate %></p> -->
       <div id="articleItem">

            <a href="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>/<%= post.loc %>/<%= post.partyDate %>">
                <img id="articleimg" src= "<%= post.pic.path.substring(6) %>"/>
            </a>
            <div id="articleTitle">
                <span id="nameinfo">Party name: <%= post.title %></span>
                <br>
                <span id="timeinfo">Posted on <%= post.time.day %></span>
            </div>
            
            
       </div>
        
       
    <% }) %>
    <%- include paging %>
    
</div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="/javascripts/index.js"></script>

</div>


  



  

